.weather-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.weather-card-left {
  padding: 3rem;
  background-color: none;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.weather-card-left h2:nth-of-type(1) {
  color: #396bae;
  font-size: 1.2rem;
}

.weather-card-left h2:nth-of-type(2) {
  color: #4a6fa1;
  font-size: 1.125rem;
  align-self: center;
}

.weather-card-left-icon {
  min-width: 220px;
  height: 125px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.weather-card-left-icon img {
  width: 90px;
}
.weather-card-left-icon h1 {
  color: rgb(123, 152, 178);
  font-weight: 100;
  background-color: none;
  font-size: 6rem;
  line-height: 1;
}

.weather-card-right {
  /* padding: 1rem; */
  background-color: none;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.weather-card-right p {
  /* margin-top: 1rem; */
  color: rgb(123, 152, 178);
  font-size: 1rem;
}

.weather-card-right-barchart {
  display: flex;
}
